/src
.DS_Store
/.idea
/.env
/docker-compose.yml
/shell
/image/bin/install-magento2
/image/bin/redis-flush
/config/nginx.conf
/image/extras/env.sample.php
/image/bin/install-magento
/docker-compose.custom.yml
/docker-compose.Darwin.yml
/docker-compose.Linux.yml