#!/usr/bin/env bash

# Definindo cores
RED='\e[31m'
GREEN='\e[32m'
YELLOW='\e[33m'
NC='\e[0m' # No Color

cd /var/www

echo -e "${GREEN}Dando permissões de leitura e execução...${NC}"

echo -e "${YELLOW}- chmod u+w -R ./var${NC}"
chmod u+w -R ./var 

echo -e "${YELLOW}- chmod u+w -R ./vendor${NC}"
# chmod u+w -R ./vendor 

echo -e "${YELLOW}- chmod u+w -R ./static${NC}"
chmod u+w -R ./pub/static 

echo -e "${YELLOW}- chmod u+w -R ./media${NC}"
chmod u+w -R ./pub/media 

echo -e "${YELLOW}- chmod u+w -R ./etc${NC}"
chmod u+w -R ./app/etc

echo -e "${YELLOW}- chmod u+x ./bin/magento${NC}"
chmod u+x ./bin/magento

echo -e "${GREEN}Instalando Magento...${NC}"

if [ -f "/var/www/app/etc/env.original.php" ]; then
    rm /var/www/app/etc/env.original.php;
fi

if [ -f "/var/www/app/etc/env.php" ]; then
    rm /var/www/app/etc/env.php;
fi

php -f ./bin/magento setup:install --base-url=http://127.0.0.1/ \
    --db-host=<projeto>-db \
    --db-name=magento \
    --db-user=magento \
    --db-password=magento \
    --admin-firstname=Magento \
    --admin-lastname=Commerce \
    --admin-email=user@example.com \
    --admin-user=admin \
    --admin-password=admin1234 \
    --language=en_US \
    --currency=BRL \
    --timezone=America/Fortaleza \
    --use-rewrites=1 \
    --backend-frontname=admin
    # --use-sample-data \

echo -e "${GREEN}Configurando para usar Redis em cache e sessão...${NC}"
mv /var/www/app/etc/env.php /var/www/app/etc/env.original.php;
cp -rv /var/extras/env.sample.php /var/www/app/etc/env.php;

# echo -e "${GREEN}Instalando cron jobs...${NC}"
# n98 cron:install;
# php -f ./bin/magento indexer:set-mode schedule;

if [ ! -f "/var/www/var/composer_home/auth.json" ]; then
    echo -e "${GREEN}Configurando chaves de autenticação...${NC}"
    cp ~/.composer/auth.json /var/www/var/composer_home/auth.json
fi

# echo -e "${GREEN}Instalando Sample Data...${NC}"
# php -f ./bin/magento sampledata:deploy

echo -e "${GREEN}Rodando setup:upgrade...${NC}"
php -f ./bin/magento setup:upgrade

echo -e "${GREEN}Compilando arquivo de dependências...${NC}"
php -f ./bin/magento setup:di:compile

echo -e "${GREEN}Compilando arquivos estáticos...${NC}"
php -f ./bin/magento setup:static-content:deploy -f en_US

echo -e "${GREEN}Re-indexando...${NC}"
php -f ./bin/magento indexer:reindex

echo -e "${GREEN}Limpando cache e sessão...${NC}"
php -f ./bin/magento cache:flush

echo -e "${GREEN}Criando diretório de pacotes...${NC}"
mkdir packages

# echo -e "${GREEN}Configurando Grunt...${NC}"
# mv package.json.sample package.json ; mv Gruntfile.js.sample Gruntfile.js
# npm i

echo -e "${GREEN}Setando a loja para desenvolvimento...${NC}"
php -f ./bin/magento deploy:mode:set developer

# echo -e "${GREEN}Refazendo autoload...${NC}"
# composer dump-autoload -o

# clear

echo "
===================== 🚀 Done 🚀 ===================

      Magento 2 Installed successfully!

      🌎 Admin: http://127.0.0.1/admin
      👤 User: admin
      🔑 Password: admin123

===================== 🚀 Done 🚀 ==================="